@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  background-color: #96c5e9;
}

.websiteContent {
  width: 60%;
  margin: 20px auto;
  padding: 5px 25px 20px;
  background-color: #fff;
  border: 1px solid #488bbe;
  border-radius: 8px;
  box-shadow: 0 0 15px #488bbe;

  @media screen and (max-width: 1300px) {
    width: 70%;
  }

  @media screen and (max-width: 1000px) {
    width: 80%;
  }

  @media screen and (max-width: 600px) {
    width: 95%;
  }

  h1 {
    text-align: center;
    width: 80%;
    margin: 10px auto;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
