.Dashboard {
  background-color: var(--bg-color-dashboard);
  padding: 10px;
  height: 100vh;
  display: flex;
  gap: 20px;

  >:global(.nav) {
    width: 20%;
  }

  .Container {
    background-color: var(--bg-color-dashboard-container);
    overflow: auto;
    padding: 15px 15px;
    flex: 1;
  }
}