.createUpdateForm {
  text-align: center;
  border: 1px solid var(--bg-color);
  box-shadow: 0 0 5px var(--bg-color);
  border-radius: 8px;
  padding: 10px;
}

.buttonsActions {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.goBack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.filesContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  margin-bottom: 30px;

  span:hover {
    cursor: pointer;
  }
}
