.Main {
  h1 {
    text-align: left;
    margin: 30px 0;
  }
  .categoryName {

  }
  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

    .product {
      @media screen and (min-width: 1200px) {
        width: 32%;
      }
      margin-bottom: 10px;

      .viewMore {
        float: right;
      }
    }
  }
  .here {
    font-weight: 900;
    cursor: pointer;
  }
}