.Main {
  h1 {
    text-align: left;
    margin: 30px 0;
  }
  .categoryName {

  }
  .products {
    .product {
      img {
        max-width: 500px;
      }
      .viewMore {

      }
    }
  }
  .here {
    font-weight: 900;
    cursor: pointer;
  }
}